.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/fondo1Image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.buttonFamilies {
    background-color: #333;
    color: white;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    margin-bottom: 12%;
    margin-top: 120%;
    width: 300px;
    height: 60px;
}

.buttonFamilies:hover {
    background-color: #37363686;
    color: goldenrod;
}

.buttonMap {
    background-color: #333;
    color: white;
    font-family: '../../font/game-of-thrones-maisfontes.afa8/game-of-thrones.ttf';
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    width: 300px;
    height: 60px;
}

.buttonMap:hover {
    background-color: #37363686;
    color: goldenrod;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .main-container {
        background-image: url('../../images/fondo1MovilImage.jpg');
    }

    .buttonFamilies {
        background-color: #37363686;
        color: goldenrod;
        margin-top: 60%;
        margin-bottom: 20%;
        width: 250px;
    }

    .buttonMap {
        background-color: #37363686;
        color: goldenrod;
        width: 250px;
    }

}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .main-container {
        background-image: url('../../images/fondo1MovilImage.jpg');
    }

    .buttonFamilies {
        background-color: #37363686;
        color: goldenrod;
        margin-top: 60%;
        margin-bottom: 20%;
        width: 250px;
    }

    .buttonMap {
        background-color: #37363686;
        color: goldenrod;
        width: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        background-image: url('../../images/fondo1TabletImage.jpg');
    }

    .buttonFamilies {
        background-color: #37363686;
        color: goldenrod;
        margin-top: 60%;
        margin-bottom: 20%;

    }

    .buttonMap {
        background-color: #37363686;
        color: goldenrod;

    }
}