* {
  box-sizing: border-box;
  margin: 0;
  font-family: '../../font/game-of-thrones-maisfontes.afa8/game-of-thrones.ttf';
}

.banderasGrandes{
  position: relative;
  height: 48vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.banderasPequeñas, .banderasMedianas{
  display:none;
}

.families-container {
  position: relative;
  background-image: url('../../images/fondo2Image.jfif');
  background-size: cover;
  background-position: center;
  min-height: 110vh;
}

.families-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.separador:first-of-type {
  border-top: 1px solid goldenrod;
  flex-grow: 1;
  margin-right: 10px;
}

.separador:not(:first-of-type) {
  border-top: 1px solid goldenrod;
  flex-grow: 1;
  margin-left: 10px;
}

.families-title-container {
  display: flex;
  align-items: center;
}

.families-title {
  text-align: center;
  font-size: 60px;
  color: goldenrod;
  margin-top: 4%;
  margin-bottom: 2%;
}

.family-group {
  text-align: center;
  background-color: #0d0d0d86;
  width: 270px;
  height: 270px;
  border-radius: 100%;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.family-group-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  vertical-align: middle;

}

.family-group-title {
  font-weight: bold;
  width: 100%;
  color: goldenrod;
  font-size: 24px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.family-group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .families-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    height: 3000px;
    margin: 2%;
    
  }
  .banderasPequeñas{
    display:block;
    position: relative;
    height:12vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banderasGrandes, .banderasMedianas{
    display:none;
  }

  .banderaImage {
    height: 11vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .family-group-title,
  .family-group-image {
    margin-left: 5%;
    margin-right: 5%;
  }

  .family-group-image {
    width:125px;
  }

  .family-group {
    width: 220px;
    height: 220px;
  }

  .families-container {
    background-image: url('../../images/fondo2ImageMovil.jpg');

  }


}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .families-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .family-group {
    width: 270px;
    height: 270px
  }

  .banderaImage {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banderaImage > img{
    margin-bottom: 30px;
  }
  .banderasMedianas{
    display:block;
    position: relative;
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banderasPequeñas, .banderasGrandes{
    display:none;
  }

}